<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.lzy.pojo.Book">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bid" jdbcType="BIGINT" property="bid" />
    <result column="bname" jdbcType="CHAR" property="bname" />
    <result column="bcount" jdbcType="BIGINT" property="bcount" />
    <result column="bauthor" jdbcType="CHAR" property="bauthor" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    bid, bname, bcount, bauthor
  </sql>
</mapper>